@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Roboto" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

#root {
    height: 100%;
    margin: 0;
}

.center-vertically {
    margin-top: auto;
    margin-bottom: auto;
    -ms-transform: translateY(-50%);
}

h1 {
    font-size: 3em !important;
}

.green-bg {
    background-color: #6DAC4FFF;
}

.white-text {
    color: white !important;
}

.w-13 {
    width: 14em;
}
.list-group-item {
    background-color: inherit !important;
    border: none !important;
}

a {
    color: inherit !important;
}

.btn-link {
    text-decoration: none !important;
    border: none !important;
}

.btn-link:hover,
a:hover {
    text-decoration: none !important;
}

.h-8 {
    min-height: 8% !important;
    max-height: 8% !important;
}

@media (max-width: 768px) {

    .responsive-margin {
        margin: 1em; 
    }

    .h-8 {
        min-height: 10% !important;
        max-height: 10% !important;
    }

    .w-13 {
        position: relative;
        width: 100% !important;
        position: fixed;
    }

    h1 {
        font-size: 2em !important;
    }

    p {
        font-size: 1.2em !important;
    }

    #sidebar-list {
        max-height: 80% !important;
        overflow-y: auto !important;
        width: 100%;
    }

        /* width */
    ::-webkit-scrollbar {
      width: 0.6em;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: lightgrey;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: white;
    }

}

.title-text {
    font-size: 1.7em;
}

.list-item-text {
    font-size: 1.3em !important;
}

.accordion {
    background-color: inherit !important;
}

.card {
    background-color: inherit !important;
    border: none !important;
}

.card-header {
    background-color: inherit !important;
    border: none !important;
}

.card-body {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#sidebar-collapse {
    transition: margin 0.5s;
    z-index: 10;
}

.negative-margin {
    margin-left: -50em !important;
}

p {
    font-size: 1.5em;
}

.responsive-margin {
    margin: 2em; 
}

.responsive-padding {
    padding: 2em;
}

#topbar {
    top: 0;
    z-index: 11;
}

#hidden-top-bar {
    opacity: 0;
}

.navbar-brand {
    width: 100% !important;
}

svg {
    cursor: pointer;
}

.fa-mobile {
    font-size: 2.4em;
}